<html lang="en" dir="rtl">
<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar align-title="center">
    <div style="font-family: 'sky-bold';  font-size: 1.7rem; background-color: #577eb9; ">
      <ion-title text-center>
        سفرات      
      </ion-title>
      <!--<div style="font-family: 'sky-bold';  font-size: 1.7rem; background-color: #577eb9; color:#FFFFFF; float: right;">
        <button (click)="logout()" style="font-family: 'sky-bold';  font-size: 1.7rem; background-color: #577eb9; color:#FFFFFF;">
          <ion-icon name="exit"></ion-icon>
        </button>
      </div>
      <div style="font-family: 'sky-bold';  font-size: 1.7rem; background-color: #577eb9; color:#FFFFFF; float: left;">
          <button (click)="showOrderByForm()" style="font-family: 'sky-bold';  font-size: 1.7rem; background-color: #577eb9; color:#FFFFFF;">
              <ion-icon name="funnel"></ion-icon>              
          </button>
        </div>-->
    </div>
    <!--<div style="display: inline-block;">
     <ion-item style="max-width:200px; float:left;">
      <ion-avatar item-start>
        <img src="{{userPhotoURL}}">
      </ion-avatar>
      <button ion-button (click)="logout()">
          الغاء الانضمام
      </button> 
     </ion-item>
    </div>-->
    <!--<div style="background-color: #577eb9;">
      <ion-segment [(ngModel)]="country">
        <ion-segment-button value="all" style="color:#FFFFFF;" (click)="getCountryTours('الكل')"><b>الكل</b></ion-segment-button>                            
        <ion-segment-button value="iraq" style="color:#FFFFFF;" (click)="getCountryTours('العراق')"><b>العراق</b></ion-segment-button>                
        <ion-segment-button value="turkey" style="color:#FFFFFF;" (click)="getCountryTours('تركيا')"><b>تركيا</b></ion-segment-button>
        <ion-segment-button value="uae" style="color:#FFFFFF;" (click)="getCountryTours('الامارات')"><b>الامارات</b></ion-segment-button>
        <ion-segment-button value="egypt" style="color:#FFFFFF;" (click)="getCountryTours('مصر')"><b>مصر</b></ion-segment-button>
        <ion-segment-button value="lebeanon" style="color:#FFFFFF;" (click)="getCountryTours('لبنان')"><b>لبنان</b></ion-segment-button>    
        <ion-segment-button value="malysia" style="color:#FFFFFF;" (click)="getCountryTours('ماليزيا')"><b>ماليزيا</b></ion-segment-button>      
        <ion-segment-button value="iran" style="color:#FFFFFF;" (click)="getCountryTours('ايران')"><b>ايران</b></ion-segment-button>            
      </ion-segment> 
    </div>-->
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #FFFFFF;">
    <ion-grid text-right>
      <div> <!--  *ngIf="priceRangeHidden != true" -->
        <div>
          <img width="100%" src="assets/img/banner.jpg"> 
        </div>
        <ion-card class="card" style="margin-top: -50px;">

        <ion-row no-padding>   
          <ion-col col-xs-6 col-sm-6 no-padding style="background-color: #263f61; color: #FFFFFF; border-bottom: 5px solid #d40e14;"> 
            <div style="padding: 10px;">الدولة</div>
            <ion-select name="countrySelected" (ionChange)="onCountryChange($event)" interface="action-sheet" okText="موافق" cancelText="الغاء">
              <ion-option value="1">الكل ({{ allToursCount }})</ion-option>
              <ion-option value="2">العراق ({{ iraqToursCount }})</ion-option>
              <ion-option value="3">تركيا ({{ turkeyToursCount }})</ion-option>
              <ion-option value="4">الامارات ({{ uaeToursCount }})</ion-option>
              <ion-option value="5">مصر ({{ egyptToursCount }})</ion-option>
              <ion-option value="6">لبنان ({{ lebanonToursCount }})</ion-option>
              <ion-option value="7">ماليزيا ({{ malysiaToursCount }})</ion-option>
              <ion-option value="8">ايران ({{ iranToursCount }})</ion-option>  
              <ion-option value="9">تونس ({{ tunisToursCount }})</ion-option>                            
            </ion-select>
          </ion-col> 
          <ion-col col-xs-6 col-sm-6 no-padding style="background-color: #263f61; color: #FFFFFF; border-bottom: 5px solid #d40e14; border-right:2px solid #C0C0C0;"> 
            <div style="padding: 10px;">الترتيب</div>
            <ion-select name="orderSelected" (ionChange)="onOrderChange($event)" interface="action-sheet" okText="موافق" cancelText="الغاء">
              <ion-option value="1">السعر</ion-option>
              <ion-option value="2">المدة</ion-option>
              <ion-option value="3">الموعد</ion-option>   
              <ion-option value="4">الشركة</ion-option>            
              <ion-option value="5">النجوم</ion-option>                          
            </ion-select>
          </ion-col> 
        </ion-row>  
        
        <ion-row>
          <ion-col col-xs-12 col-sm-12 style="text-align: center; padding-top: 20px;">
              <span>السعر لغاية </span>
              <span>{{priceRange}} $</span>
              <span> ( </span>
              <span>{{ allToursCount }}</span>  
              <span>سفرة</span>   
              <span> ) </span>                            
              <ion-item>
                <ion-range dir="ltr" min="0" max="2000" step="100" [(ngModel)]="priceRange" debounce="1200" (ionChange)="onSliderChanged()">
                </ion-range>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      </div>

      <div *ngFor="let tour of tours |  async; let i = index">
        
        <!-- *************************************   Ahmed Alaa Card:start ********************************************************** -->
        <!--<div class="ahcontainer">
            <div class="ahcard">
              <div class="ahcard__hero" style="background: url('assets/img/{{ tour.tour_poster }}')">
                <div class="ahcard__hero__info">
                  <span class="ahcard__hero__info__price">${{ tour.tour_price }}</span>
                  <span>{{ tour.tour_days }} ايام - {{ tour.tour_days-1 }} ليالي</span>
                </div> 
                <img src="assets/img/{{ tour.tour_poster }}">
              </div>
              <div class="ahcard__body">
                <div class="ahcard__body__title"> 
                  {{ tour.tour_country }}&nbsp;(&nbsp;{{ tour.tour_cities }}&nbsp;)
                </div> 
                  <div class="ahcard__body__text">
                    {{tour.tour_summary | slice:0:300}}                  
                    <span class="ahcard__body__text__date">{{tour.tour_date.toDate() | date:'yyyy-MM-dd'}}</span>
                  </div> 
                <div class="ahcard__body__info">
                  <div class="ahcard__body__info__company">
                    <b>{{ tour.tour_provider_name }}</b>
                    <div>{{ tour.tour_provider_address }}</div>
                  </div>
                  <div class="ahcard__body__info__accommodation">
                    <b>{{ tour.tour_hotels }}</b>
                    <div>{{ tour.tour_airline}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        <!-- *************************************   Ahmed Alaa Card:end ********************************************************** -->
        <ion-card calss="card">
            <ion-card-content style="margin: 0 !important; padding: 0 !important;">
              <ion-row no-padding>
                  <ion-col col-xs-12 col-sm-3 no-padding>
                    <div style="cursor:pointer;">
                      <img src="assets/img/{{ tour.tour_poster }}" imageViewer>
                      <div *ngIf="isNew(tour.ad_insert_date)" class="card_elem--newlabel">جديد</div>
                      <div class="card_elem--imageOverlayLabel">
                        <span class="card_elem--imageOverlayLabel--price" style="float: right">${{ tour.tour_price }}</span>
                        <span style="float: left">{{ tour.tour_duration }} ايام - {{ tour.tour_duration-1 }} ليالي</span>
                      </div>
                    </div> 
                  </ion-col>
                  <ion-col col-xs-12 col-sm-5 (click)="toggleShowingTourDetails(i)" style="padding-right: 10px; cursor:pointer;">
                    <div style="padding-right: 10px; padding-top: 10px; color:#092a5e"><b>{{ tour.tour_country }}&nbsp;(&nbsp;{{ tour.tour_cities }}&nbsp;)</b></div>
                    <div style="padding-right: 10px;">
                      <span *ngIf="tour.tour_stars == 1" style="color: #f6ab3f">&#9733;</span>
                      <span *ngIf="tour.tour_stars == 2" style="color: #f6ab3f">&#9733;&#9733;</span>
                      <span *ngIf="tour.tour_stars == 3" style="color: #f6ab3f">&#9733;&#9733;&#9733;</span>
                      <span *ngIf="tour.tour_stars == 4" style="color: #f6ab3f">&#9733;&#9733;&#9733;&#9733;</span>
                      <span *ngIf="tour.tour_stars == 5" style="color: #f6ab3f">&#9733;&#9733;&#9733;&#9733;&#9733;</span>   
                    </div>  
                    <div style="padding-right: 10px;">{{ tour.tour_hotels }}</div>                    
                    <div class="card__elem--tourdescription">{{tour.tour_summary | slice:0:300}}</div>
                    <div style="padding-right: 10px;">
                      <span *ngFor="let tag of tour.ad_tags">
                        <span *ngIf="tag == 'excellent_program'" class="card__elem--isExcellentTourDetails">
                         برنامج سياحي مميز                                               
                        </span>
                        <span *ngIf="tag == 'excellent_hotels'" class="card__elem--isExcellentTourDetails">
                         فنادق راقية                                              
                        </span>
                        <span *ngIf="tag == 'excellent_dests'" class="card__elem--isExcellentTourDetails">
                         وجهات رائعة                        
                        </span>
                      </span>                    
                    </div>  
                  </ion-col> 
                  <ion-col col-xs-12 col-sm-4 (click)="toggleShowingProviderDetails(i)" style="padding-right: 10px; cursor:pointer;">
                    <div style="padding-right: 10px;">
                      <div style="padding-top: 6px;">
                        <ion-item no-padding style="color:#092a5e; font-size:14px;">
                            <ion-avatar item-left> <img src="assets/img/{{tour.provider_icon}}"> </ion-avatar>
                            <b>{{ tour.tour_provider_name }}</b>
                        </ion-item>
                      </div>
                      <div class="card__elem--provideraddress">{{ tour.tour_provider_address }}</div>  
                      <div style="padding-top: 5px;">
                        <div>{{ tour.tour_transporter}}</div>
                        <div>{{ tour.tour_price }} دولار</div>
                        <div>{{ tour.tour_duration }} ايام / {{ tour.tour_duration-1 }} ليالي</div>
                        <div>{{tour.tour_date.toDate() | date:'yyyy-MM-dd'}}</div>
                      </div>  
                    </div>
                  </ion-col>    
              </ion-row>
              <div *ngIf="expanded[i] != true" style="text-align: center; cursor:pointer; color:#575757">
                  <div (click)="toggleShowingTourDetails(i)">المزيد من التفاصيل</div>
              </div>  
            </ion-card-content>  
        </ion-card>
        <div *ngIf="expanded[i] == true">
          <ion-card>
            <button ion-item (click)="setExpansionToFalse(i)" style="text-align: center;">اغلاق</button>
            <ion-segment [(ngModel)]="detailsTab">
              <ion-segment-button value="tour" style="color:#363738;"><b>السفرة</b></ion-segment-button>
              <ion-segment-button value="destination" style="color:#363738;"><b>الوجهة</b></ion-segment-button>                                
              <ion-segment-button value="provider" style="color:#363738;"><b>الشركة</b></ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="detailsTab">
              <div *ngSwitchCase="'tour'">
                <div *ngFor="let line of splitDescription(tour.tour_details)">  
                  <div class="card__elem--tourdetails">{{ line }}</div>
                </div>
                <iframe [src]="tour.ad_link | safe" width="500" height="672" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
              </div>
              <!-- <div *ngSwitchCase="'destination'">
                  <div *ngFor="let destination of tour.tour_destinations">  
                    <div *ngIf="destination == 'الحمامات'">الحمامات
                      <br>
                      <div class="video-container">
                        <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/XqZFrRxUxZs"></iframe>
                      </div>
                    </div>      
                    <div *ngIf="destination == 'سوسة'">سوسة
                        <br>
                        <div class="video-container">
                          <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/5KAdf0SfQg4"></iframe>
                        </div>
                    </div>   
                    <div *ngIf="destination == 'جامع عقبة بن نافع'">جامع عقبة بن نافع
                        <br>
                        <div class="video-container">
                          <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/beI4BtgtIXo"></iframe>
                        </div>
                    </div>                    
                    <div *ngIf="destination == 'انطاليا'">انطاليا
                      <br>
                      <div class="video-container">
                        <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/ofGMFbrWK6M"></iframe>
                      </div>
                    </div>  
                    <div *ngIf="destination == 'الانيا'">الانيا
                      <br>                
                      <div class="video-container">
                        <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/suShdgQR43U"></iframe> 
                      </div>
                    </div>      
                    <div *ngIf="destination == 'بورصة'">بورصة
                      <br>                 
                      <div class="video-container">
                        <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/BldyeC6x5pM"></iframe> 
                      </div>
                    </div>  
                    <div *ngIf="destination == 'اسطنبول'">اسطنبول
                        <br>                 
                        <div class="video-container">
                          <iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/7A1q7v4btbk"></iframe> 
                        </div>
                    </div> 
                  </div>             
              </div> -->                                       
              <div *ngSwitchCase="'provider'">
                <div style="padding-top: 10px;">
                    <img src="assets/img/{{ tour.provider_image }}" imageViewer>
                </div>
                <div style="padding-top: 16px;"><b>{{ tour.provider_name }}</b></div>
                <div class="card__elem--provideraddress">{{ tour.provider_address }}</div>  
                  <!-- <button type="button" ion-button color="primary" (click)="callJoint()">Call Number</button> -->
                  <!--<div *ngFor="let line of splitDescription(tour.provider_details)">  
                    <div class="card__elem--providerdetails">{{ line }}</div>
                  </div>-->
                <div style="padding-top: 10px;">
                  <iframe [src]="tour.provider_fb_link | safe" width="80%;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    <!--<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Forchidgroup.iq&tabs=timeline&width=640&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="640" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
                </div>
                <div *ngFor="let comment of tour.provider_comments">
                  <div class="card__elem--providerdetails">
                    <p>👎 {{ comment.comment_date.toDate()  | date:'yyyy-MM-dd' }} {{ comment.commenter_name }} </p>
                    <div *ngFor="let line of comment.comment_content.split('.')">
                        <p>{{ line }}</p>  
                    </div>
                  </div>
                </div>
              </div>                         
            </div>
            <button ion-item (click)="setExpansionToFalse(i)" style="text-align: center;">اغلاق</button>
          </ion-card> 
        </div>  
      </div>
    </ion-grid> 

<div class="pins">
  <div class="panel white" #panel1></div>    
  <div class="panel white" #panel2></div>
  <div class="panel white" #panel3></div>
  <div class="panel white" #panel4></div>
  <div class="panel white" #panel5></div>
  <div class="panel white" #panel6></div>
  <div class="panel white" #panel7></div>
  <div class="panel white" #panel8></div>
  <div class="panel white" #panel9></div>
  <div class="panel white" #panel10></div>
</div>
</ion-content>
<ion-footer> <!-- [ngClass]="{'hide-footer':showheader,'show-footer':hideheader}" -->
  <ion-grid>
    <ion-row>
      <ion-col col-xs-4 col-sm-4 no-padding>
        <button no-margin ion-button full large color="mygrey" (click)="toggleShwoingPriceRange()"  style="font-size: 12px;"> اعلى سعر {{priceRange}} دولار </button>      
      </ion-col>
      <ion-col col-xs-4 col-sm-4 no-padding>
        <button  no-margin ion-button full large color="mygrey" (click)="scrollToTop()" style="font-size: 12px;" ><ion-icon name="arrow-dropup-circle"></ion-icon></button>              
      </ion-col>
      <ion-col col-xs-4 col-sm-4 no-padding>          
        <button no-margin ion-button full large color="mygrey" (click)="scrollToTop()" style="font-size: 12px;">{{ orderByLabel }}</button>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 10px; font-size: 12px; text-align: center; color: black;">
      <ion-col col-xs-4 col-sm-4 no-padding>
        <div style="color: #928F8F;" (click)="login()">دخول الشركات</div>
      </ion-col>
      <ion-col col-xs-4 col-sm-4 no-padding>
        <div style="cursor:pointer;" (click)="openWithSystemBrowser('https://www.facebook.com/سفرات-227412894540572')">اتصل بنا</div>          
      </ion-col>
      <ion-col col-xs-4 col-sm-4 no-padding>
        <div style="color: #928F8F;" (click)="logout()">خروج</div>
      </ion-col>
    </ion-row>      
  </ion-grid>  
</ion-footer>
</html>