
page-home {

    ion-avatar,
    ion-avatar > img{
        border-radius:50%;
        height:4rem;
        width:4rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
    }
        
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .scroll-content{
        top:-56px !important;
        padding-top: 60px !important;
    }

    .hide-header{
        transition : top 0.25s ease;
        top: -56px;
    }
    
    .show-header{
        transition : top 0.25s ease;
        top: 0px;
    }

    .hide-footer{
        transition : bottom 0.25s ease;
        bottom: -56px;
    }
    
    .show-footer{
        transition : bottom 0.25s ease;
        bottom: 0px;
    }

    .toolbar-background{
        background-color: #577eb9;
      }
    .card {
        padding: 0px;
    }
/********* Old neglagtable part *******/  
      .pins {
        width: 1200px;
        margin:0 auto;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 200px;
        -moz-column-width: 200px;
        column-width: 200px;
      }

      .pin {
        display: inline-block;
        margin: 0 2px 10px;
        padding: 5px;
      }
  
         .panel {
          position: relative;
          margin: 0;
          font-family: 'Tajawal, sans-serif';
    
          h2 {
             font-size: 3rem;
            position: absolute;
            bottom : 1em;
            right: 1em;
            color: #ffffff;
            font-family: Verdana;
          }
       }
    
       .white {
        height: 0px;
        background-color: #FFFFFF;
     }
       .red {
          height: 350px;
          background-color: #c13f3f;
       }
    
       .blue {
          height: 450px;
          background-color: #5681a9;
       }
    
       .green {
          height: 400px;
          background-color: #61884c;
       }
    
       .yellow {
          height: 600px;
          background-color: #dfd644;
       }
    
       .orange {
          height: 800px;
          background-color: #dfa744;
       }

      .verticalLine {
        border-left: thin solid #e9ebee;
        height: 90%;
      }

      #transform {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
      
        /* IE8 and below */
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
      }

/********* current used in production part *******/        
     body {
       background-color: #f4f6f8;
       direction: rtl;
       font-family: 'Open Sans','Noto Naskh';
       font-size: 15px;
       font-weight: 600;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
     }
     
     button.item.item-block.item-md {
        padding-right: 0px;
        padding-left: 0px;
     }

     .card {
         background-color: #ffffff;
         border: 1px;
         padding: 10px;
         box-shadow: 2px 2px 2px 2px #c1c3c4;
         margin-left: auto;
         margin-right: auto;
         max-width:900px;
     }
     
     .card__searchtab {
         background-color: #ffffff;
         border: 1px;
         padding: 10px;
         box-shadow: 2px 2px 2px 2px #c1c3c4;
         height:150px;
         max-height:150px;
         margin-left: auto;
         margin-right: auto;
     }

     .card__searchtab--countrytabs {
      background-color: #ffffff;
      height:70px; 
      max-height:70px;
      margin-left: auto;
      margin-right: auto;
  }
     
     .card__elem--selector {
       height: 50px;
     }
     
     .card__elem {
       font-weight: 600;
     }
     
     .card__elem--title {
       font-family: 'fantezy';  
       font-size: 1.7rem;
       text-align: center;
       
     }
     
     .card__elem--providername {  
       height: 25px; 
       padding: 5px;
       color: #777777;
     }
     
     .card__elem--provideraddress {
       color: #19658E;
     }
     
     .card__elem--tourcountry {
       color: #c63823;
     }
     
     .card__elem--tourprice {
       color: #575757;
     }
     
     .card__elem--tourdays {
       color: #575757;
     }
     
     .card__elem--tourexpirationdate {
       color: #575757;
     }
     
     .card__elem--tourhotel {
       color: #575757;
     }
     
     .card__elem--tourhairline {
       color: #575757;
     }
     
     .card__elem--tourcities {
       color: #c63823;
       padding: 10px;
     }
     
     .card__elem--tourdescription {
       color: #575757;
       padding: 10px;
       font-size: 15px;
       font-weight: 400;
       
     }

     .card__elem--tourdetails {
      color: #575757;
      margin-top: 10px; 
      padding: 10px;
      font-family: 'droid arabic naskh';
      font-size: 15px;
      font-weight: 400;
      
    }

    .card__elem--providerdetails {
      color: #575757;
      background: #eff1f3;
      margin-top: 10px; 
      padding: 10px;
      font-family: 'droid arabic naskh';
      font-size: 15px;
      font-weight: 400;
      
    }
     
     .card_elem--tourimage {
       position: relative;
       float: left;
       left: 0px;
       top: 0px;
     }
     
     .card_elem--countrylabel {
       background: #577eb9;
       font-size: 15px;
       font-weight: 600;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #ffffff;
       position: absolute;
       z-index: 10;
       width: 120px;
       padding: 5px 0px;
       left: 12px;
       top: 0px;
     }

     .card_elem--newlabel {
        background: #d41214;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        z-index: 10;
        width: 60px;
        padding: 5px 0px;
        left: 12px;
        top: 0px;
      }

     .card_elem--imageOverlayLabel {
       background: #263f61;
       font-size: 15px;
       font-weight: 600;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #FFFFFF;
       z-index: 10;
       width: 100%;
       padding: 10px 0px;
       padding-right: 10px;
       padding-left: 10px;
       left: 0px;
       top: 0px;
       height: 40px;
       border-bottom: 0px solid #f7d457;
     }
     .card_elem--imageOverlayLabel--Price {
        letter-spacing: .5rem;
     }

     .card__elem--callmeButton {
      background-color: #577eb9;
      color: #FFFFFF;
      text-align: center;
      height: 45px;
      padding-top: 15px;
      margin-top: 20px;
      padding-right: 0px;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    .card__elem--isExcellentTourDetails {
      background-color: #B63E26;
      color: #FFFFFF;
      text-align: center;
      font-size: 14px;
      padding: 4px;
      display: inline-block;
      font-size: 12px;
    }

    .my-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(179, 176, 176, 0.47);
      z-index: 20;
      top: 0;
      left: 0;
    }

    .callmeform {
      position: fixed;
      top:30%;
      left: 30%;
      width: 40%;
      height: 50%;
      background: rgb(255, 255, 255);
      z-index: 20;
      align-content: center;
    }

    .orderByform {
      position: fixed;
      top:30%;
      left: 30%;
      width: 60%;
      height: 50%;
      background: rgb(255, 255, 255);
      z-index: 20;
      align-content: center;
    }

    .tag {
      display: inline-block;
      
      width: auto;
      height: 36px;
      
      background-color: #81275a;
      -webkit-border-radius: 3px 4px 4px 3px;
      -moz-border-radius: 3px 4px 4px 3px;
      border-radius: 3px 4px 4px 3px;
      
      border-left: 1px solid #81275a;
    
      /* This makes room for the triangle */
      margin-left: 19px;
      
      position: relative;
      
      color: white;
      font-weight: 300;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      line-height: 36px;
    
      padding: 0 10px 0 10px;
    }
    
    /* Makes the triangle */
    .tag:before {
      content: "";
      position: absolute;
      display: block;
      left: -19px;
      width: 0;
      height: 0;
      border-top: 19px solid transparent;
      border-bottom: 19px solid transparent;
      border-right: 19px solid #81275a;
    }
    
    /* Makes the circle */
    .tag:after {
      content: "";
      background-color: white;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      display: block;
      position: absolute;
      left: -9px;
      top: 17px;
    }

    .multiline
    {
      white-space: pre-wrap;
    }

    .verticalLine {
      border-right: thin solid #e9ebee;
      height: 90%;
    }

/********* Ahmed Alaa *******/
// Vars 
$card-height: 20rem;
$card-width: 90rem;
$card-hero-size: 16rem;
// colors from https://color.adobe.com/Crepusculo-color-theme-10889582

$darker-color: #5E005E;
$dark-color: #AB2F52;
$mid-color: #E55D4A;
$light-color: #E88554;
$lighter-color: #FFAF53;


@import url("https://fonts.googleapis.com/css?family=Tajawal");
 
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  min-height: 100%;
  background: linear-gradient(20deg, $mid-color, $darker-color);
} 

.ahcontainer{
  max-width: 1024px; 
  padding: 10rem 0;
  margin: auto;
}

.ahcard{ 
  display: flex;   
  margin: auto;
  background: #fff;
  min-height: $card-height;
  width: $card-width;
  box-shadow: 0 0 2rem .2rem rgba(darken($darker-color, 5%), .5);
  border-top: .2rem solid $lighter-color; 

}

.ahcard__hero {
  position: relative;
  flex: 0 0 $card-height;
  width: $card-height;
  min-height:  $card-height; 
  //background: url("https://unsplash.it/800?image=690") center;
  background-size: cover;
}

.ahcard__hero__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.6rem; 
  background: rgba($dark-color, .95);
  padding: 1rem; 
  color: #fff; 
  & .card__hero__info__price{ 
    letter-spacing: .5rem;  
    font-weight: bold;
  }
}

.ahcard__body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.ahcard__body__title{
  flex: 0 0 auto;
  font-size: 1.4rem;
  padding: 1rem; 
  background: $mid-color;
  color: #fff; 
}
.ahcard__body__text{
  position: relative;
  flex: 1 0 auto;
  padding: 1rem;
  padding-bottom: 2rem;  
}

.ahcard__body__text__date{
  position: absolute;
  bottom: 0; 
  left: 0rem;
  // height: 2rem;
  font-size: 1.2rem;
  background: $mid-color;
  color: #fff;
  padding: .4rem 1rem;
}
 
.ahcard__body__info{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
  border-top: .4rem solid $light-color;
  & > *:last-child{
    border-right: 1px solid rgba($mid-color, .25);
  }
  & > * {
    padding: 1rem;
    flex: 0 0 50%;
  }
}
      
}